{% extends 'base.html' %}

{% block content %}



<div class="row mt-4">
    <div class="col-md-3">
        <div class="card text-bg-primary">
            <div class="card-body">Users<br><h4>150</h4></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-success">
            <div class="card-body">Orders<br><h4>320</h4></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-warning">
            <div class="card-body">Pending Orders<br><h4>45</h4></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-danger">
            <div class="card-body">Revenue<br><h4>₹85,000</h4></div>
        </div>
    </div>
</div>

{% endblock %}
