{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h4 class="mb-3">Update Order Status</h4>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Order ID</label>
                    <input type="text"
                           class="form-control"
                           value="ORD{{ order.id }}"
                           readonly>
                </div>

                <div class="mb-3">
                    <label class="form-label">Customer Name</label>
                    <input type="text"
                           class="form-control"
                           value="{{ order.user.full_name }}"
                           readonly>
                </div>

                <div class="mb-3">
                    <label class="form-label">Service</label>
                    <input type="text"
                           class="form-control"
                           value="{{ order.service_name }}"
                           readonly>
                </div>

                <div class="mb-3">
                    <label class="form-label">Total Price (₹)</label>
                    <input type="text"
                           class="form-control"
                           value="{{ order.total_price }}"
                           readonly>
                </div>

                <div class="mb-3">
                    <label class="form-label">Order Status</label>
                    <select name="status" class="form-select" required>
                        <option value="Pending"
                            {% if order.status == "Pending" %}selected{% endif %}>
                            Pending
                        </option>
                        <option value="Processing"
                            {% if order.status == "Processing" %}selected{% endif %}>
                            Processing
                        </option>
                        <option value="Completed"
                            {% if order.status == "Completed" %}selected{% endif %}>
                            Completed
                        </option>
                    </select>
                </div>

                <div class="text-end">
                    <a href="#" class="btn btn-secondary">
                        Back
                    </a>
                    <button type="submit" class="btn btn-success">
                        Update Status
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}
